
<!DOCTYPE html>
<html>
  <head>
    <title>TripyPlan</title>
    {% include "libraries.html" %}
  </head>
  <body>
    {% include "header.html" %}
    <div class="container" style="padding-top:30px">
      <div class="row">
        <div class="col m3 s12">
          <div class="col m12 s12">
            <div class="card" style="margin:0">
              <div class="card-image">
                <img src="{{ current_user.avatar }}">
              </div>
              <div class="card-content">
                <p>{{current_user.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col m9 s12">
          <div class="row">
            <div class="col m12 s12">
              <ul class="tabs z-depth-1">
                <li class="tab col s6"><a class="black-text active" href="#plans">Plans</a></li>
                <li class="tab col s6"><a class="black-text" href="#maps">Maps</a></li>
                <li class="tab col s6"><a class="black-text" href="#shares">Share links</a></li>
              </ul>
              <div id="plans" class="col s12 card">
                <h5>Your plans</h5>
                <div class="row">
                  <div class="card-action">
                    <a data-bind="click: showPlanModal" class="btn-floating waves-effect waves-light light-blue" style="float:right"><i class="material-icons">add</i></a>
                  </div>
                </div>
              </div>
              <div id="maps" class="col s12 card">
                <h5>Your maps</h5>
                <div class="row">
                  <div class="card-action">
                    <a class="btn-floating waves-effect waves-light light-blue" style="float:right"><i class="material-icons">add</i></a>
                  </div>
                </div>
              </div>
              <div id="shares" class="col s12 card">
                <h5>Your links</h5>
                <div class="row">
                  <div class="card-action">
                    <a class="btn-floating waves-effect waves-light light-blue" style="float:right"><i class="material-icons">add</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal add plan -->
    <div id="addplan" class="modal">
      <div class="modal-content">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" data-bind="value: newPlan">
              <label for="name">Name of plan</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="start" type="date" class="datepicker" data-bind="value: startDate">
              <label for="start">Start date</label>
            </div>
            <div class="input-field col s6">
              <input id="final" type="date" class="datepicker" data-bind="value: finalDate">
              <label for="final">Final date</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a data-bind="click: addNewPlan" class="waves-effect waves-light btn-flat">OK</a>
      </div>
    </div>
    <script>
      //jQuery docelowo w stopkę
      $('.button-collapse').sideNav()
      $('.modal-trigger').leanModal()
      $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 10,
        container: 'body'
      })
      function panelModel(){
        var self = this;
        self.newPlan = ko.observable('')
        self.startDate = ko.observable('')
        self.finalDate = ko.observable('')
        self.userPlans = ko.observableArray(['Georgia', 'Iran', 'Morocco'])

        self.showPlanModal = function(){
          $('#addplan').openModal()
        }
        self.addNewPlan = function(){
          console.log({name:self.newPlan(),start:self.startDate(),final:self.finalDate()})
          $('#addplan').closeModal()
          Materialize.toast(self.newPlan()+' added!', 4000)
        }
      }
      var vm = new panelModel();
      ko.applyBindings(vm);
    </script>
  </body>
</html>