<!DOCTYPE html>
<html>
  <head>
    <title>TripyPlan</title>
    {% include "libraries.html" %}
  </head>
  <body>
    {% include "header.html" %}
    <div id="body" class="container" style="padding-top:30px">
      <div class="row">
        <div class="col m3 s12">
          <div class="col m12 s12">
            <div class="card" style="margin:0">
              <div class="card-image">
                <img data-bind="attr: {src: user.avatar}">
              </div>
              <div class="card-content">
                <p data-bind="text: user.name"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col m9 s12">
          <div class="row">
            <div class="col m12 s12">
              <ul class="tabs">
                <li class="tab col s6"><a class="black-text active" href="#plans">Plans</a></li>
                <li class="tab col s6"><a class="black-text" href="#maps">Maps</a></li>
                <li class="tab col s6"><a class="black-text" href="#shares">Share links</a></li>
              </ul>
              <div id="plans" class="col s12 card">
                <div class="row">
                  <div class="card-action">
                    <!-- ko if: user.nick == current_user.nick -->
                    <a id="addbutton" data-bind="click: showAddPlanModal" class="btn-floating waves-effect waves-light light-blue" style="float:right"><i class="material-icons">add</i></a><br>
                    <!-- /ko -->
                    <table class="highlight">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Final date</th>
                            <!-- ko if: user.nick == current_user.nick -->
                            <th>Options</th>
                            <!-- /ko -->
                        </tr>
                      </thead>
                      <tbody data-bind="foreach: userPlans">
                        <tr>
                          <td data-bind="text: name" style="color:#03a9f4"></td>
                          <td data-bind="text: start"></td>
                          <td data-bind="text: final"></td>
                          <!-- ko if: $root.user.nick == $root.current_user.nick -->
                          <td><span data-bind="click: $root.showRemovePlanModal"><i class="fa fa-trash-o"></i></span></td>
                          <!-- /ko -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="maps" class="col s12 card">
                <div class="row">
                  <div class="card-action">
                    <!-- ko if: user.nick == current_user.nick -->
                    <a id="addbutton" class="btn-floating waves-effect waves-light light-blue" style="float:right"><i class="material-icons">add</i></a><br>
                    <!-- /ko -->
                    <table class="highlight">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Places</th>
                        </tr>
                      </thead>
                      <tbody data-bind="foreach: userMaps">
                        <tr>
                          <td data-bind="text: name" style="color:#03a9f4"></td>
                          <td data-bind="text: places"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="shares" class="col s12 card">
                <div class="row">
                  <div class="card-action">
                    <!-- ko if: user.nick == current_user.nick -->
                    <a id="addbutton" class="btn-floating waves-effect waves-light light-blue" style="float:right"><i class="material-icons">add</i></a><br>
                    <!-- /ko -->
                    <table class="highlight">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Link</th>
                        </tr>
                      </thead>
                      <tbody data-bind="foreach: userLinks">
                        <tr>
                          <td data-bind="text: name" style="color:#03a9f4"></td>
                          <td data-bind="text: link"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal add plan -->
    <div id="addplan" class="modal">
      <div class="modal-content">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" data-bind="value: newPlan">
              <label for="name">Name of plan</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="start" type="date" class="datepicker" data-bind="value: startDate">
              <label for="start">Start date</label>
            </div>
            <div class="input-field col s6">
              <input id="final" type="date" class="datepicker" data-bind="value: finalDate">
              <label for="final">Final date</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
        <a data-bind="click: addNewPlan" class="waves-effect waves-green btn-flat">OK</a>
      </div>
    </div>
    <!-- End modal -->
    <!-- Modal remove plan -->
    <div id="removeplan" class="modal">
      <div class="modal-content">
        <form class="col s12">
          <div class="row">
            Do you want to remove this plan?<br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
        <a data-bind="click: removePlan" class="waves-effect waves-green btn-flat">Delete</a>
      </div>
    </div>
    <!-- End modal -->
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <script>
      //jQuery to footer (later)
      $(document).ready(function(){
        $('.button-collapse').sideNav()
        $('.modal-trigger').leanModal()
        $('.datepicker').pickadate({
          selectMonths: true,
          selectYears: 10,
          format: 'dd-mm-yyyy',
          container: 'body'
        })
        $('#body').css('visibility','visible')
        $('.preloader-wrapper').css('visibility','hidden')
      })
      function panelModel(){
        var self = this;
        // Page-user
        self.user = {
          nick:'{{ user.nick }}',
          name:'{{ user.name }}',
          avatar:'{{ user.avatar }}'
        }
        // Logged-user
        self.current_user = {
          nick:'{{ current_user.nick }}',
          name:'{{ current_user.name }}',
          avatar:'{{ current_user.avatar }}'
        }
        self.newPlan = ko.observable('')
        self.removedPlan = ko.observable('')
        self.startDate = ko.observable('')
        self.finalDate = ko.observable('')
        self.userPlans = ko.observableArray()
        self.userMaps = ko.observableArray([
          {name: "Georgia", places: 8},
          {name: "Iran", places: 12},
          {name: "Morocco", places: 4}])
        self.userLinks = ko.observableArray([
          {name: "Georgia", link: "http://www.example.com/share/georgia"},
          {name: "Iran", link: "http://www.example.com/share/iran"},
          {name: "Morocco", link: "http://www.example.com/share/morocco"}])

        self.getUserPlans = function(nick){
          self.userPlans.removeAll()
          $.getJSON(location.origin+'/plans/'+nick,{},function(data){
            data.data.forEach(function(plan){
              self.userPlans.push(plan)
            })
          })
        }
        self.showAddPlanModal = function(){
          if(self.user.nick == self.current_user.nick){
            $('#addplan').openModal()
          }
        }
        self.showRemovePlanModal = function(data){
          if(self.user.nick == self.current_user.nick){
            self.removedPlan(data)
            $('#removeplan').openModal()
          }
        }
        self.addNewPlan = function(){
          if(self.newPlan().length > 0 && self.startDate().length > 0 && self.finalDate().length > 0){
            var payload = {name:self.newPlan(),nick:self.current_user.nick,start:self.startDate(),final:self.finalDate()}
            $.ajax({
              type: 'POST',
              url: location.origin+'/plans/'+self.current_user.nick,
              data: JSON.stringify(payload),
              contentType: 'application/json',
              success: function(data){
                $('#addplan').closeModal()
                Materialize.toast(self.newPlan()+' added!', 2000, 'success')
                self.getUserPlans(self.current_user.nick)
              }
            })
          }else{
            console.log({name:self.newPlan(),start:self.startDate(),final:self.finalDate()})
            Materialize.toast('Fill all inputs!', 2000, 'error')
          }
        }
        self.removePlan = function(){
          $.ajax({
            type: 'DELETE',
            url: location.origin+'/plans/'+self.current_user.nick,
            data: JSON.stringify(self.removedPlan()),
            contentType: 'application/json',
            success: function(data){
              $('#removeplan').closeModal()
              Materialize.toast(self.removedPlan().name+' deleted!', 2000, 'error')
              self.getUserPlans(self.current_user.nick)
            }
          })
        }
        self.init = function(){
          self.getUserPlans(self.user.nick)
        }
        self.init()
      }
      var vm = new panelModel();
      ko.applyBindings(vm);
    </script>
  </body>
</html>