<nav class="light-blue" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo" style='font-family:"Josefin Sans";padding-left:10px'>Tripyplan</a>
    {% if current_user.is_authenticated() %}
    <ul class="right hide-on-med-and-down">
      <li>{{current_user.name}}</li>
      <li>
        <a href="{{ url_for('logout') }}"><i class="material-icons" style="font-size:20px;">power_settings_new</i></a>
      </li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    </ul>
    {% else %}
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ url_for('login') }}">Sign in with <i class="fa fa-google"></i></a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="{{ url_for('login') }}">Sign in with <i class="fa fa-google"></i></a></li>
    </ul>
    {% endif %}
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>